html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: $main-font-stack;
  font-size: $main-font-size;
  line-height: $main-font-height;
  color: $main-font-color;
  min-width: $page-width;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}  