$page-width: 320px;

$theme-white-color:#ffffff;
$theme-color-primary-accents: #1ab798;
$theme-color-secondary-accents: #31d4e7;

$main-font-stack: "OpenSans", Arial, sans-serif;
$secondary-font-stack: "Raleway", Arial, sans-serif;

$main-font-size: 16px;
$main-font-height: 26px;
$title-font-size: 28px;
$descr-font-size: 18px;
$main-font-color: #282528;  