.social {

  list-style: none;


}

.social-icon {
  display: flex;
  justify-content: center;


  width: 42px;
  height: 42px;
  border-radius: 50px;
  fill: $theme-white-color;
  margin-right: 15px;



}

.facebook {
  background-color: #3b5997;
}

.twitter {
  background-color: #3ec2f3;
}

.linkedin {
  background-color: #007ab9;
}

footer svg {
  padding-top: 12px;
  width: 28px;
  height: 28px;


}




@media (max-width: 767px) {
  .social {

    display: flex;
    flex-direction: row;
    justify-content: center;



  }


}
