.social{

    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;


}
.social-icon{
    
    width: 42px;
    height: 42px;
    border-radius: 50px;
    fill: $theme-white-color;
    
    
}
.facebook {
background-color:#3b5997;
}
.twitter {
    background-color:#3ec2f3;
}
.linkedin {
    background-color: #007ab9;
}
svg{
    width: 25px;
    height: 25px;
    


}
