
@media (max-width: 767px) {
.conteiner{

}
}

@media (min-width: 768px) {
.conteiner{
    
}
}

@media (min-width: 768px) {
    .conteiner{
        
    }
    }
    






















.site-footer-contacts_tel {
  color: $footer-color-contacts;
  display: flex;
  justify-content: center;
}

.site-footer-contacts_email {
  color: $footer-color-contacts;
  display: flex;
  justify-content: center;

}
