
input{
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
    padding-left: 10px;
   
}



input[type="name"] {
    width: 270px;
    height: 44px;
    border-radius: 4px;
    border-style: none;
    

}
input[type="email"] {
    width: 270px;
    height: 44px;
    border-radius: 4px;
    border-style: none;

}


textarea {
    height: 179px;
    border-radius: 4px;
    border-style: none;
    margin-bottom: 40px;
    text-align: start;
    padding: 10px;

    
}
input[type="submit"] {
    display: block;
    width: 170px;
    height: 50px;
    background-color: $theme-color-secondary-accents;
    border-radius: 4px;
    border-style: none;
    color:$theme-white-color;
    cursor: pointer; 
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0;
}
   
input[type="submit"]:hover{
        background-color:#007ab9;
       
        transition: 0.3s;
      }




 input[type="email"]:valid{
    color: #007ab9;
  }
  input[type="email"]:invalid{
    color: #dc2543;
  }
  


@media (max-width: 767px) {
    .wrapper-form{
        margin: 0 auto;
    }
    input[type="submit"]{
        margin: 0 auto;
    }

    .contacts-wrapp{
        display: flex;
        flex-direction: column;
        
    }
    
    .site-footer_form{
        width: 270px;
    }

    textarea{
        width: 271px;
    }

  }
  
  @media (min-width: 768px) {
    .site-footer_form{
        max-width: 569px;
        
    }
    input[type="name"]{

        margin-right: 22px;
    }   
    textarea{
        width: 569px;
    } 

    
  }
  
  @media (max-width: 1200px) {
    .contacts-wrapp{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }
    .site-footer-contacts{
        margin: 0 auto;
        text-align: center;
        padding-top: 56px;

    }
    .site-footer-contacts_info{
        padding: 0 74px;
    }
    textarea{
        width: 569px;
    }


    .site-footer-contacts{
        order: 2;
    }
    .site-footer_form{
        order: 1;
    }
   .social{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
   }
      
  }



  .footer-page {
    display: flex;
    flex-direction: row;
    align-items:center;
    height: 60px;
    border-top: 2px solid rgba(255, 255, 255, 0.5); 
    color: rgba(255, 255, 255, 0.5);
    padding-left: 20px;

}
@media (min-width: 1200px) 
{
input[type="submit"] {
    margin: 0;
    float: right;
}

.social{
    padding-bottom: 30px;
}


}

