.site-footer-contacts_touch{
    display: flex;
    justify-content: center;
    color: $theme-white-color;
}

.site-footer-contacts_info{
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 50%);
}